*{
	margin:0;
	padding:0;
	width:100%;
	--animation-delay:1s;
}

body{
	background-color: #7d0909;
	background-size: 100vw;
	width:100%;
	height:100%;
	margin:0;
	z-index: 1
}

a{
	color:white;
	text-decoration:underline;
	animation: fader 15s linear 0s infinite normal;
	display: inline;
}

a:hover{
	color:white;
	text-decoration:none;
}

a.fa_link{
	text-decoration:none;
}

h3{
	font-family: 'Raleway', sans-serif;
	font-size:25px;
}

h4{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
}

p{
	margin-top:10px;
	margin-bottom:5px;
}

ul{
	text-indent:0;
}

iframe{
	height:200px;
	margin-bottom:2.5%;
	float:left;
	text-indent:0;
}

.header{
	font-family: 'Coustard', serif;
	color:white;
	text-align:center;
	width:100%;
	font-size:90px;
}


.description{
	margin-top: 5%;
	display:none;
	font-family: 'Raleway', sans-serif;
	color:white;
	width:80%;
	padding-left:10%;
	font-size:20px;
	text-align: left;
	text-indent: 50px;
}

.description.current{
	display:inline-block;
	font-family: 'Raleway', sans-serif;
	color:white;
	width:80%;
	padding-left:10%;
	font-size:20px;
	text-align: left;
}

.links{
	padding-top: 40px;
	font-family:'Raleway', sans-serif;
	color:white;
	width:60%;
	padding-left:20%;
	font-size:20px;
	text-align:center;
}

.nav.current{
	text-decoration: underline;
	color:#a7bff4;
	animation: none;
}

.split-text-left{
	text-align: left;
	width:48%;
	float:left;
	margin-right: 1%;
}

.split-text-right{
	text-align: left;
	width:48%;
	float:right;
	margin-left:2%;
}

.important{
	text-indent:0;
	font-size: 30px;
}

.no-indent{
	text-indent:0;
}

#location1{
	margin-top:2.5%;
}

#contact1{
	text-align: center;
	margin-top: 2.5%;
	font-size: 25px;
}

@media (max-width:768px) {
	body{
		overflow:hidden;
	}
  .header{
  	font-size: 40px;
  }
  .description.current{
  	font-size: 15px;
  	width:80%;
  	padding-left:10%;
  }
}

@media (max-width:900px) {
  body{
  	overflow:scroll;
  }
  .header{
  	font-size: 30px;
  }
  .description.current{
  	font-size: 15px;
  	width:90%;
  	margin-left:5%;
  	margin-right:5%;
  	padding:0;
  }
}
